.content {
  margin-left: 80px;
}
.history {
  width: 70%;
}
.history-header {
  padding-top: 12px;
  font-weight: 500;
  padding-bottom: 20px;
}

.right-bar {
  position: fixed;
  right: 0;
  padding: 0 28px;
  width: 385px;
  top: 65px;
}

.search-input-container {
  position: relative;
  display: flex;
  height: 40px;
  margin-top: 10px;
}
.search-history-btn {
  position: absolute;
}
.search-btn {
  position: absolute;
  width: 40px;
  height: 40px;
}
.search-input-history {
  padding-left: 40px;
  border: none;
  border-bottom: 1px solid black;
  outline: none; 
  font-size: 14px;
}

.right-bar-actions{
  margin-top: 30px;
}

.action-element {
  width: fit-content;
  height: 36px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 16px;
  border-radius: 18px;
  gap: 6px;
  font-weight: 500;
  margin-top: 14px;
  font-size: 14px;
}
.action-element:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.action-element img {
  margin-left: -8px;
}
.guide-links {
  margin-top: 16px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.guide-link {
  font-size: 14px;
}

.video-title {
  color: #0F0F0F;
  font: 18px Roboto, Arial, sans-serif;
  line-height: 20px;
  margin-bottom: 2px;
}
.video-description{
  line-height: 20px;
}
.video-info {

}
.video-author{
  margin-top: 0;
  margin-bottom: 5px;
}
