.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  margin-top: 24px;
}

.topbar-text {
  font-weight: 500;
  margin-bottom: 20px;
  color: var(--yt-spec-text-primary);
}

.top-bar-left {
  display: flex;
  align-items: center;
}

.manage {
  padding-left: 16px;
  padding-right: 16px;
  font-weight: bold;
  color: rgb(62, 166, 255);
}
.manage:hover {
  background-color: rgb(222, 241, 255);
}

.topbar-btn {
  width: 40px;
  height: 40px;
}

.video-title{
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 20px;
}

.video-author,
.video-stats
{
    font-size: 14px;
    display: flex;
    align-items: center;

}

@media (min-width: 1081px) {
  .video-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.content {
  margin-bottom: 20px;
}

.thumbnail-row {
  transition: all 0.2s ease-in-out;
}

.thumbnail:hover{
  cursor: pointer;
  border-radius: 0%;
}