.thumbnail{
    width: 100%;
    display: block;
    border-radius: 12px;
}

.search-bar{
    display: block;
}

.video-title{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 20px;
}

.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.profile-picture{
    width: 36px;
    border-radius: 100%;
}

.thumbnail-row{
    margin-bottom: 8px;
    position: relative;
}

.video-author,
.video-stats
{
    font-size: 12px;
    color: rgb(96, 96, 96);
}
.video-author{
    margin-bottom: 4px;
}

.video-grid{
    display: grid;
    column-gap: 16px;
    row-gap: 40px;
}

@media (max-width: 1080px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 1081px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


.video-time {
    font-family: Roboto, Arial;
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    border-radius: 2px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
}


.categories {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    gap: 10px;
    /* max-width: 1fr; */
    white-space: nowrap;
    overflow: hidden;
}
.category {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
    color: #0F0F0F;
    cursor: pointer;
    transition: background-color 0.15s;
}
.category-selected {
    color: white;
    background-color: black;
}

.category:hover{
    background-color: rgb(0, 0, 0, 0.1);
}
.category-selected:hover{
    background-color: black;
}